@model List<BlogApp.Core.DTOs.Concrete.UserDto>
@{
    Layout = "_Layout";
    ViewBag.Title = "Silinmiş Kullanıcılar";
    var errorMessage = ViewBag.ErrorMessage as string;
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Yönetim Paneli Anasayfa</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="User" asp-action="DeletedUsers">Silinmiş Kullanıcılar</a></li>
</ol>
@if (string.IsNullOrEmpty(errorMessage))
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Silinmiş Kullanıcılar Listesi
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="deletedUsersTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>E-Posta Adresi</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Resim</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>E-Posta Adresi</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Resim</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr name="@user.Id">
                                <td>@user.Id</td>
                                <td>@user.Username</td>
                                <td>@user.Email</td>
                                <td>@user.Firstname</td>
                                <td>@user.Lastname</td>
                                <td><img src="~/img/@user.ImageUrl" alt="@user.Username" class="my-image-table" /></td>
                                <td style="width:150px;">
                                    <button class="btn btn-warning btn-sm btn-undo" data-id="@user.Id"><span class="fas fa-undo"></span></button>
                                    <button class="btn btn-danger btn-sm btn-delete" data-id="@user.Id"><span class="fas fa-minus-circle"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger mt-3">
        @ViewBag.ErrorMessage <br />
        Yönetim Paneli anasayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts
    {
    <script src="~/AdminLTE/js/deletedUsers.js" type="application/ecmascript"></script>
}
